.gallery {
    display: flex;
    justify-content: center;
    gap: 0.2rem;
  }
  
  .gallery-item {
    width: 25vw;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .gallery-item:hover {
    transform: scale(1.1)
  }
  
  h1 {
    padding: 2rem;
    margin-bottom: 2rem;
    background-color: skyblue;
  }
  
  .lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
  
    justify-content: center;
    align-items: center;
  }
  
  #lightbox-image {
    max-width: 80%;
    max-height: 80%;
  }
  
  #close-btn {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    background: none;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  @media (max-width: 480px) {
    .gallery {
      flex-direction: column;
      padding: 1rem;
      align-items: center;
    }
  
    .gallery-item {
      width: 90%;
    }
  }
  
  